@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  font-family: Quicksand, sans-serif;
  color: rgb(29, 28, 28);
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid rgb(23, 23, 23);
  background-color: rgb(104, 104, 104);
}

.navbar h1 {
  color: rgb(194, 159, 61);
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  color: rgb(194, 159, 61);
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}