@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  font-family: Quicksand, sans-serif;
  color: rgb(29, 28, 28);
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid rgb(23, 23, 23);
  background-color: #6a6a6a;
}

.navbar h1 {
  color: #dbd08a;
  animation: pulse 4s;
}

@keyframes pulse {
  0% {
    color: #6a6a6a;
  }
  100% {
    color: #dbd08a;
  }
}

.navbar .links {
  margin-left: auto;
  font-weight: 600;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  color: #dbd08a;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* blog-preview styling */
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid rgb(0, 0, 0, 0.1);
}

.blog-preview:hover {
  box-shadow: 1px 3px 5px rgb(0, 0, 0, 0.1);
}

.blog-preview h2 {
  font-size: 20px;
  color: black;
  margin-bottom: 8px;
}

.blog-preview p {
  color: #6a6a6a;
}